@media (min-width: 1280px) {
    .container {
        max-width: 1240px !important;
    }
}

@media (max-width: 1400px) {}

@media (max-width: 1280px) {
    .every-inner:before {
        background: linear-gradient(270deg, rgba(156, 212, 194, 0) 6%, #9CD4C2 61%);
    }
}

@media (max-width: 1024px) {}

@media (max-width: 767px) {
    .nav-items {
        box-shadow: -10px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .nav-items:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: url('../images/svg/toggle-bg.svg') no-repeat bottom;
    }
        section {
            scroll-margin-top: 77.48px;
        }
}

@media (max-width: 576px) {}